// 默认字体
$base_font: 28px;

// 底部导航高度
$footer_nav_height: pxtorem(104px);

// 颜色,可以自己定义格式
// 主色
$primary: #2196f3;
$secondary: #ff4081;
// 辅助色
$info: #2196f3;
$success: #4caf50;
$warning: #fdd835;
$error: #f44336;
// 标题
$title: #1c2438;
// 正文
$content: #495060;
// 辅助/图标
$subColor: #80848f;
// 失效
$disabled: #bbbec4;
// 边框
$border: #dddee1;
// 分割线
$divider: #e9eaec;
// 背景
$background: #f8f8f9;